// main: ../components.less

/**
 * Styling for the social share atom
 */
.atom-share {
    overflow: hidden;
    a {
        box-sizing: border-box;
        display: inline-block;
        line-height: 48px;
        height: 48px;
        width: 48px;
        padding: 0 8px;
        text-align: center;
        transition: all 350ms ease-out;
        vertical-align: top;
        &:hover {
            width: 64px;
        }
    }
    .components-whatsapp {
        display: none;
    }
}

.atom-share-fixed {
    display: none;
    left: 0;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 999;
    a {
        display: block;
    }
    @media screen and (max-width: 480px) {
        align-items: flex-end;
        bottom: 0;
        display: flex;
        transform: none;
        top: inherit;  
        width: 100%; 
        a {
            display: inline;
            flex-grow: 1;
            width: inherit;
            &:hover {
                height: 64px;
                line-height: 64px;
                width: inherit;
            }
        }
    }    
}