// main: ../components.less

/**
 * Styling for the header
 */
.molecule-header {
    background: #fff;
    transition: all 350ms ease-out;
    .molecule-header-top-atoms, .molecule-header-socket-atoms, .molecule-header-atoms {
        &:after {
            clear: both;  
            content: "";
            display: table;     
        }  
    }
    &.molecule-header-transparent {
        background: transparent;
        border: none;
        &.molecule-header-scrolled {
            background: #fff;
        }
    }
}

.molecule-header-top-atoms,
.molecule-header-atoms,
.molecule-header-socket-atoms {
    width: 100%;
}

.molecule-header-fixed {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}