// main: components.less

/**
 * Global classes
 */
.components-center {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
}

.components-fullscreen {
    min-height: 100vh;
    width: 100%;
}

.components-halfscreen {
    min-height: 50vh;
    width: 100%;
}

.components-normalscreen {
    min-height: 75vh;
    width: 100%;
}

.components-left {
    float: left;
}

.components-right {
    float: right;
}

.components-block {
    display: block;
}

.components-inline {
    display: inline;
}

.components-inline-block {
    display: inline-block;
}

.components-overflow {
    overflow: hidden;
}

.components-hidden {
    visibility: hidden;
}

.components-none {
    display: none;
}

.components-bold {
    font-weight: bold;
}

/**
 * Colored areas
 */
@blue: #3498db;
@dark: #2c3e50;
@green: #2ecc71;
@grey: #95a5a6;
@light: #ecf0f1;
@orange: #f39c12;
@purple: #8e44ad;
@red: #e74c3c;
@magenta: #ff3f72;
@marine: #1abc9c;
@yellow: #f1c40f;
@white: #fff;

/* Backgrounds */
.components-background-blue {
    background-color: @blue;
    &:hover {
        background-color: darken(@blue, 10%); 
    }
}

.components-background-dark {
    background-color: @dark;
    &:hover {
        background-color: darken(@dark, 10%); 
    }    
}

.components-background-green {
    background-color: @green;
    &:hover {
        background-color: darken(@green, 10%); 
    }    
}

.components-background-grey {
    background-color: @grey;
    &:hover {
        background-color: darken(@grey, 10%); 
    }    
}

.components-background-light {
    background-color: @light;
    &:hover {
        background-color: darken(@light, 10%); 
    }    
}

.components-background-magenta {
    background-color: @magenta;
    &:hover {
        background-color: darken(@magenta, 10%); 
    }    
}

.components-background-marine {
    background-color: @marine;
    &:hover {
        background-color: darken(@marine, 10%); 
    }    
}

.components-background-orange {
    background-color: @orange;
    &:hover {
        background-color: lighten(@orange, 3%); 
    }    
}

.components-background-purple {
    background-color: @purple;
    &:hover {
        background-color: darken(@purple, 10%); 
    }    
}

.components-background-red {
    background-color: @red;
    &:hover {
        background-color: darken(@red, 10%); 
    }    
}

.components-background-yellow {
    background-color: @yellow;
    &:hover {
        background-color: lighten(@yellow, 3%); 
    }    
}

.components-background-white {
    background-color: @white;
}

/* Colors */
.components-color-blue {
    color: @blue;
    &:hover {
        color: lighten(@blue, 10%); 
    }      
}

.components-color-dark {
    color: @dark;
    &:hover {
        color: lighten(@dark, 10%); 
    }     
}

.components-color-green {
    color: @green;
    &:hover {
        color: lighten(@green, 10%); 
    }     
}

.components-color-grey {
    color: @grey;
    &:hover {
        color: darken(@grey, 10%); 
    }     
}

.components-color-light {
    color: @light;
    &:hover {
        color: darken(@light, 10%); 
    }     
}

.components-color-magenta {
    color: @magenta;
    &:hover {
        color: lighten(@magenta, 5%); 
    }     
}

.components-color-marine {
    color: @marine;
    &:hover {
        color: lighten(@marine, 5%); 
    }     
}

.components-color-orange {
    color: @orange;
    &:hover {
        color: lighten(@orange, 10%); 
    }     
}

.components-color-purple {
    color: @purple;
    &:hover {
        color: lighten(@purple, 10%); 
    }     
}

.components-color-red {
    color: @red;
    &:hover {
        color: lighten(@red, 5%); 
    }     
}

.components-color-yellow {
    color: @yellow;
     &:hover {
        color: lighten(@yellow, 10%); 
    } 
}

.components-color-white {
    color: @white;
     &:hover {
        color: @white; 
    } 
}

/**
 * Rounded values
 */
.components-rounded {
    .components-network {
        border-radius: 25px;    
    }
    img {
        border-radius: 50%;
    }
}

/**
 * Positions. @todo someday, make this dry!
 */
.components-position-bottom-center {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.components-position-bottom-left {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
}

.components-position-bottom-right {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.components-position-middle-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.components-position-middle-left {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.components-position-middle-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.components-position-top-center {
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

.components-position-top-left {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.components-position-top-right {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
}


/**
 * Social Networks. @todo Someday, make this dry  
 * Because these classes are used in multiple atoms, these are prefixed with components. 
 */
@email: #F8694D; 
@facebook: #3B5998; 
@instagram: #405de6;
@twitter: #32CCFE; 
@linkedin: #0274B3; 
@google-plus: #D44036; 
@pinterest: #CB2028; 
@reddit: #CEE3F8; 
@pocket: #EF4056; 
@stumbleupon: #EB4924; 

.components-email {
    color: @email;
    .components-background & {
        background: @email;
        color: #fff;
    }        
}

.components-facebook {
    color: @facebook;
    .components-background & {
        background: @facebook;
        color: #fff;
    }        
}

.components-instagram {
    color: @instagram;
    .components-background & {
        background: @instagram;
        color: #fff;
    }        
}

.components-twitter {
    color: @twitter;
    .components-background & {
        background: @twitter;
        color: #fff;
    }        
}

.components-linkedin {
    color: @linkedin;
    .components-background & {
        background: @linkedin;
        color: #fff;
    }        
}

.components-google-plus {
    color: @google-plus;
    .components-background & {
        background: @google-plus;
        color: #fff;
    }        
}

.components-pinterest {
    color: @pinterest;
    .components-background & {
        background: @pinterest;
        color: #fff;
    }        
}

.components-reddit {
    color: @reddit;
    .components-background & {
        background: @reddit;
        color: #fff;
    }        
}

.components-pocket {
    color: @pocket;
    .components-background & {
        background: @pocket;
        color: #fff;
    }        
}

.components-stumbleupon {
    color: @stumbleupon;
    .components-background & {
        background: @stumbleupon;
        color: #fff;
    }        
}