// main: ../components.less

/**
 * Styling for the buttons
 */
.atom-button {
    display: inline-block;
    padding: 16px 32px;
    transition: all 350ms ease-out;
    &.components-rounded {
        border-radius: 50px;    
    }
    &.atom-button-small {
        font-size: 0.9em; 
        padding: 8px 16px;
    }    
    &.atom-button-large {
        font-size: 1.1em;
        padding: 24px 48px;
    }
    &:hover {
        opacity: 0.9;
    }
}