// main: ../components.less

/**
 * Styling for the social atom
 */
.atom-social {
    overflow: hidden;
    a {
        display: inline-block;
        line-height: 48px;
        min-height: 48px;
        min-width: 48px;
        padding: 0 16px;
        text-align: center;
        vertical-align: top;
    }
}
