// main: ../styles.less

/**
 * Default animations
 */
@speed: 1000ms;

// FadeIn
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

// FadeInDown
@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-20px); }
    80% { opacity: 1; }
    100% { opacity: 1; transform: translateY(0); }
}

// SlideInRight
@keyframes slideInRight {
    from { transform: translate(100%, 0); }
    to { transform: translate(0); }
}

// SlideInLeft
@keyframes slideInLeft {
    from { transform: translate(-100%, 0); }
    to { transform: translate(0); }
}

/**
 * Animation classes
 */
.components-fadein-animation {
    animation: fadeIn @speed ease-in-out;
}

.components-fadeindown-animation {
    animation: fadeInDown @speed ease-in-out;
}

.components-slideinright-animation {
    animation: slideInRight @speed ease-in-out;
}

.components-slideinleft-animation {
    animation: slideInLeft @speed ease-in-out;
}
